<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-left">
      <p>© {{ currentYear }} Guru. All rights reserved.</p>
    </div>

    <div class="footer-right">
      <a href="https://github.com/gururajchoudri55" target="_blank" aria-label="GitHub">
        <i class="bi bi-github"></i>
      </a>
      <a href="http://www.linkedin.com/in/g-h-choudri-89589322a" target="_blank" aria-label="LinkedIn">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://x.com/RajuChoudri7?t=zgtc4v7ysYYMYB2pInLyeA&s=09" target="_blank" aria-label="Twitter (X)">
        <i class="bi bi-twitter-x"></i>
      </a>
    </div>
  </div>
</footer>