
<div class="hero-section">
  <div class="hero-content">
    
    <!-- Left Side -->
    <div class="hero-left animate__animated animate__bounceInLeft animate__delay-0.5s">
      <h1>
        Hi, I'm <span class="highlight">Prashant</span> <span class="wave">👋</span>
      </h1>
      <h2>
        <i class="bi bi-code-slash"></i> Angular | .NET | SQL Server
      </h2>
      <p>I build modern, responsive web applications with passion.</p>

      <div class="cta-buttons">
        <a href="#" class="btn">📄 Resume</a>
        <a (click)="scrollTo('contact')" class="btn btn-secondary">📬 Contact Me</a>
      </div>
    </div>

    <!-- Right Side -->
    <div class="hero-right animate__animated animate__bounceInRight animate__delay-1s">
      <img src="assets/giphy.gif" alt="developer animation">
    </div>

  </div>
</div>


<br>